<div class="sticky-top">
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Covid Resources</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" [routerLink]="['/addNewResources']">Add New Resources</button>
  <button color="primary" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
</div>
